{% extends "base.html" %}
{% block content %}

{% load static %}
<div class="profilepage">
    <div class="user">
        <div class="photo">
            <a href="{{ user.profile_photo.url }}"><img src="{{ user.profile_photo.url }}"></a>
        </div>
        <div class="description">
            <h5>{{ user.username }}</h5>

            {% if user.description %}
            <p>{{ user.description }}</p>
            {% endif %}

            <p>
                <a href="/user/{{ pk }}/subscribers">Subscribers</a>
                <a href="/user/{{ pk }}/subscriptions">Subscriptions</a>
            </p>
        </div>
    </div>

    {% if images %}
    <div class="photos">
        {% for i in images %}
        <div class="photo">
            <a href="/photo/{{ i.pk }}"><img src="{{ i.path }}/{{ i.name }}"></a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}